:root {
  /* // Color hue in the range [0,360] - change this variable to alter the tone
  // of the theme, e.g. to make it more redish or greenish */
  /* kdb color shades */
  
    /* footer shades */
    --md-footer-fg-color:                rgb(38, 0, 255);
    --md-footer-fg-color--light:         hsla(0, 0%, 0%, 0.7);
    --md-footer-fg-color--lighter:       hsl(0, 0%, 100%);
    --md-footer-bg-color:                hsla(0, 0%, 100%, 0.87);
    --md-footer-bg-color--dark:          hsl(0, 0%, 100%);
  }

  .md-typeset h1,
  .md-typeset h2,
  .md-typeset h3 {
    color: #000000;
  }

  .md-content {
    --md-typeset-color: #060025;
    --md-typeset-a-color:  #0a004b;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; /* Or you could set a specific width */
    flex: 1;

}

.flex-container > div {
    flex-basis: calc(50% - 12px); /* Adjust width minus margin */
    margin: 5px;
    text-align: center;
    border: 0.5px solid #2b039b; /* Optional: for border of button*/
    padding: 2px;
    box-sizing: border-box;
    border-radius: 5px;
}

.flex-button {
    display: block;
    width: 100%;
    padding: 20px;
    /* background-color: #007bff; */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

.flex-button:hover {
    background-color: #f5f5f5;
}